<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    <!-- websocket通讯 -->
    <script src="https://cdn.bootcss.com/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script src="https://cdn.bootcss.com/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.0.min.js"></script>

</head>
<body>
<p>你好，欢迎进入主页面，请开始实验！</p>
<p shiro:hasRole="指挥中心">指挥中心</p>
<p class="showTime"></p>

<div class="table">
    <table border="1" style="text-align:center" id="table">
        <tr>
            <th>区域</th>
            <th>人数</th>
            <th>经度</th>
            <th>纬度</th>
            <th>面积</th>
            <th>邻近区域</th>
            <th>状态</th>
            <th>系统</th>
        </tr>
        <tr>
            <td>A1</td>
            <td>123</td>
            <td>a</td>
            <td>a@qq.com</td>
            <td>123456789</td>
            <td>40040044</td>
            <td>270205197405213513</td>
        </tr>
        <tr>
            <td>A2</td>
            <td>456</td>
            <td>b</td>
            <td>b@qq.com</td>
            <td>987654321</td>
            <td>30030033</td>
            <td>470205197405213513</td>
        </tr>
        <tr>
            <td>A3</td>
            <td>789</td>
            <td>c</td>
            <td>c@qq.com</td>
            <td>800800820</td>
            <td>30030030</td>
            <td>570205197405213513</td>
        </tr>
        <tr>
            <td>A1</td>
            <td>123</td>
            <td>a</td>
            <td>a@qq.com</td>
            <td>123456789</td>
            <td>40040044</td>
            <td>270205197405213513</td>
        </tr>
        <tr>
            <td>A1</td>
            <td>123</td>
            <td>a</td>
            <td>a@qq.com</td>
            <td>123456789</td>
            <td>40040044</td>
            <td>270205197405213513</td>
        </tr>
        <tr>
            <td>A1</td>
            <td>123</td>
            <td>a</td>
            <td>a@qq.com</td>
            <td>123456789</td>
            <td>40040044</td>
            <td>270205197405213513</td>
        </tr>
        <tr>
            <td>A1</td>
            <td>123</td>
            <td>a</td>
            <td>a@qq.com</td>
            <td>123456789</td>
            <td>40040044</td>
            <td>270205197405213513</td>
        </tr>
        <tr>
            <td>A1</td>
            <td>123</td>
            <td>a</td>
            <td>a@qq.com</td>
            <td>123456789</td>
            <td>40040044</td>
            <td>270205197405213513</td>
        </tr>
        <tr>
            <td>A1</td>
            <td>123</td>
            <td>a</td>
            <td>a@qq.com</td>
            <td>123456789</td>
            <td>40040044</td>
            <td>270205197405213513</td>
        </tr>
    </table>
</div>

<div class="tableDeploy">
    <table border="1" style="text-align:center" id="tableDeploy">
        <tr>
            <th>公安</th>
            <th>交警</th>
            <th>城管</th>
            <th>志愿者</th>
            <th>纬度</th>
            <th>经度</th>
            <th>系统</th>
        </tr>
        <tr>
            <td>A1</td>
            <td>123</td>
            <td>a</td>
            <td>a@qq.com</td>
            <td>123456789</td>
            <td>40040044</td>
            <td>270205197405213513</td>
        </tr>
        <tr>
            <td>A1</td>
            <td>123</td>
            <td>a</td>
            <td>a@qq.com</td>
            <td>123456789</td>
            <td>40040044</td>
            <td>270205197405213513</td>
        </tr>
        <tr>
            <td>A1</td>
            <td>123</td>
            <td>a</td>
            <td>a@qq.com</td>
            <td>123456789</td>
            <td>40040044</td>
            <td>270205197405213513</td>
        </tr>
        <tr>
            <td>A1</td>
            <td>123</td>
            <td>a</td>
            <td>a@qq.com</td>
            <td>123456789</td>
            <td>40040044</td>
            <td>270205197405213513</td>
        </tr>
        <tr>
            <td>A1</td>
            <td>123</td>
            <td>a</td>
            <td>a@qq.com</td>
            <td>123456789</td>
            <td>40040044</td>
            <td>270205197405213513</td>
        </tr>
        <tr>
            <td>A1</td>
            <td>123</td>
            <td>a</td>
            <td>a@qq.com</td>
            <td>123456789</td>
            <td>40040044</td>
            <td>270205197405213513</td>
        </tr>
        <tr>
            <td>A1</td>
            <td>123</td>
            <td>a</td>
            <td>a@qq.com</td>
            <td>123456789</td>
            <td>40040044</td>
            <td>270205197405213513</td>
        </tr>
        <tr>
            <td>A1</td>
            <td>123</td>
            <td>a</td>
            <td>a@qq.com</td>
            <td>123456789</td>
            <td>40040044</td>
            <td>270205197405213513</td>
        </tr>
        <tr>
            <td>A1</td>
            <td>123</td>
            <td>a</td>
            <td>a@qq.com</td>
            <td>123456789</td>
            <td>40040044</td>
            <td>270205197405213513</td>
        </tr>
        <tr>
            <td>A1</td>
            <td>123</td>
            <td>a</td>
            <td>a@qq.com</td>
            <td>123456789</td>
            <td>40040044</td>
            <td>270205197405213513</td>
        </tr>
        <tr>
            <td>A1</td>
            <td>123</td>
            <td>a</td>
            <td>a@qq.com</td>
            <td>123456789</td>
            <td>40040044</td>
            <td>270205197405213513</td>
        </tr>
        <tr>
            <td>A1</td>
            <td>123</td>
            <td>a</td>
            <td>a@qq.com</td>
            <td>123456789</td>
            <td>40040044</td>
            <td>270205197405213513</td>
        </tr>
        <tr>
            <td>A1</td>
            <td>123</td>
            <td>a</td>
            <td>a@qq.com</td>
            <td>123456789</td>
            <td>40040044</td>
            <td>270205197405213513</td>
        </tr>


    </table>
</div>

<div id="responseData">
    <h4>聊天区</h4>
    <input id="content">
    <button shiro:hasRole="交警" onclick="sendMsg('指挥中心',1)">发给交警</button>
    <button shiro:hasRole="指挥中心" onclick="sendMsg('交警',1)">发给交警</button>
</div>

<p>指令：</p>
<select id="directives">
    <option value="命令一">命令一</option>
    <option value="命令二">命令二</option>
    <option value="命令三">命令三</option>
</select>
<button shiro:hasRole="指挥中心" onclick="sendMsg('交警',2)">发布命令</button>

<div id="Directives" shiro:hasRole="交警">代办区：</div>

<p>部署人员：</p>
<select id="deploy_area">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
</select>
<input th:value="peoplenum" id="deploy_num"></input>
<button onclick="deploy()">部署</button>


<div id="Question">

</div>

<script>


    var stompClient = null;
    var username;
    var systemname;
    var roleTopic;

    $.get("/user/currentuser", function (data) {
        roleTopic = data.role
        username = data.userName;
        systemname = data.systemname;
        // 执行定时任务
        var myTimeTarget = setInterval(function () {
            queryData()
        }, 1000);

        // 定时任务要做的事情
        function queryData() {
            $.get("/data/" + systemname, function (data) {
            })
            $.get("/system/time/" + systemname, function (data) {
                $(".showTime").html(
                    "当前时间：" + data
                )
            })
        }

        var socket = new SockJS("http://localhost:8015/public");
        stompClient = Stomp.over(socket);
        stompClient.connect({"username": username, "roleTopic": roleTopic}, function (frame) {
            stompClient.subscribe('/topic/' + systemname + "/" + roleTopic, function (response) {
                data = JSON.parse(response.body);
                showMsg(data);
            })
            stompClient.subscribe('/data/' + systemname, function (response) {
                data = JSON.parse(response.body);
                insertInfo(data);
            })
        }, {});

        $.get("/chat/all/todo/", function (data2) {
            /*
            展示所有的待办
             */
            daiban(data2);
        })
        $.get("/issue/" + roleTopic, function (data3) {
            console.log(data3);
            show_question(data3);
        });

    })

    function deploy() {
        var area = document.getElementById('deploy_area').value;
        var num = document.getElementById('deploy_num').value;
        var imessage = {};
        imessage.systemName = systemname;
        imessage.num = num;
        imessage.role = "交警";
        imessage.lng = 120.164273;
        imessage.lat = 30.248522;
        stompClient.send("/directives/deploy", {}, JSON.stringify(imessage));
    }

    function daiban(data) {
        var dir = document.getElementById('Directives');
        for (var i = 0; i < data.length; i++) {
            if (data[i].systemName == systemname && data[i].toRole == roleTopic) {
                var p = document.createElement('button');
                p.appendChild(document.createTextNode(data[i].text))
                p.setAttribute("arg", data[i].id);
                p.onclick = function (e) {
                    console.log(e);
                    console.log(this.getAttribute("arg"))
                    $.get("/chat/todo/succ/" + this.getAttribute("arg"), function (data3) {
                        console.log("remove");
                    });
                    $(this).remove();
                };
                dir.append(p);
            }
        }
    }

    //展示数据
    function showMsg(data) {
        if (data.type == 1) {
            // 普通消息
            var responseData = document.getElementById('responseData');
            var p = document.createElement('p');
            p.appendChild(document.createTextNode(data.fromRole + ":" + data.text));
            responseData.appendChild(p);
        } else if (data.type == 2) {
            var dir = document.getElementById('Directives');
            var p = document.createElement('button');
            p.appendChild(document.createTextNode(data.text))
            p.setAttribute("arg", data.id);
            p.onclick = function (e) {
                $.get("/chat/todo/succ/" + this.getAttribute("arg"), function (data3) {
                    console.log("remove");
                });
                $(this).remove();
            };
            dir.append(p)
        } else if (data.type == 4) {
            // 群发
        }
    }

    function show_question(data) {
        var a = document.getElementById("Question");
        var html = '';
        html += "<fieldset><p>" + data.question + "</p>";
        if (data.right_answer == 'A') {
            html += "<lable><input type='radio'  onclick='judgement(20)'/>" + data.answer_A + "</lable></br>";
        } else {
            html += "<lable><input type='radio'  onclick='judgement(0)'/>" + data.answer_A + "</lable></br>";
        }
        ;
        if (data.right_answer == 'B') {
            html += "<lable><input type='radio'  onclick='judgement(20)'/>" + data.answer_B + "</lable></br>";
        } else {
            html += "<lable><input type='radio'  onclick='judgement(0)'/>" + data.answer_B + "</lable></br>";
        }
        ;
        if (data.right_answer == 'C') {
            html += "<lable><input type='radio' onclick='judgement(20)'/>" + data.answer_C + "</lable></br>";
        } else {
            html += "<lable><input type='radio' onclick='judgement(0)'/>" + data.answer_C + "</lable></br>";
        }
        ;
        if (data.right_answer == 'D') {
            html += "<lable><input type='radio'  onclick='judgement(20)'/>" + data.answer_D + "</lable></br>";
        } else {
            html += "<lable><input type='radio' onclick='judgement(0)'/>" + data.answer_D + "</lable></br>";
        }
        ;
        html += "</fieldset>";
        a.innerHTML += html;
    }

    function judgement(data) {
        console.log(data)
        $.get("/score/"+systemname+"/"+roleTopic+"/"+data,function (){

        })
    }

    function sendMsg(toRoleTopic, eventType) {
        if (eventType == 1) {
            var content = document.getElementById('content').value;
            var imessage = {};
            imessage.systemName = systemname;
            imessage.type = eventType;
            imessage.toRole = toRoleTopic;
            imessage.text = content;
            imessage.fromRole = roleTopic;
            imessage.dateTime = new Date();
            showMsg(imessage);
            stompClient.send("/topic/" + systemname + "/" + toRoleTopic, {}, JSON.stringify(imessage));
        } else if (eventType == 2) {
            var oOpt = document.getElementById('directives');
            var oOptVal = oOpt.options[oOpt.selectedIndex].value;
            // alert(oOptVal);
            var imessage = {};
            imessage.systemName = systemname;
            imessage.type = eventType;
            imessage.toRole = toRoleTopic;
            imessage.text = oOptVal;
            imessage.fromRole = roleTopic;
            imessage.dateTime = new Date();
            imessage.statue = 0;
            // showMsg(imessage);
            stompClient.send("/topic/" + systemname + "/" + toRoleTopic, {}, JSON.stringify(imessage));
        }

    }

    //----新增信息的插入方法-----
    function insertInfo(data) {
        peoNum = data.numberOfPeopleList
        deployNum = data.deployList
        //根据id获取表单信息
        for (var j = 0; j < peoNum.length; j++) {
            document.getElementById('table').deleteRow(j + 1);
            var arr = new Array();
            arr[0] = peoNum[j].region;
            arr[1] = peoNum[j].number;
            arr[2] = peoNum[j].longitude;
            arr[3] = peoNum[j].latitude;
            arr[4] = peoNum[j].area;
            arr[5] = peoNum[j].vicinity;
            arr[6] = peoNum[j].status;
            arr[7] = peoNum[j].systemName
            var x = document.getElementById('table').insertRow(1); //获取第一行对象
            for (var i = 0; i < arr.length; i++) {
                x.insertCell(i).innerHTML = arr[i]; //用循环把每个数据插入第一行的每一列
            }
        }

        for (var j = 0; j < deployNum.length; j++) {
            document.getElementById('tableDeploy').deleteRow(j + 1);
            var arr = new Array();
            arr[0] = deployNum[j].ga;
            arr[1] = deployNum[j].jj;
            arr[2] = deployNum[j].cg;
            arr[3] = deployNum[j].zyz;
            arr[4] = deployNum[j].gaLng;
            arr[5] = deployNum[j].gaLat;
            arr[6] = deployNum[j].sysName
            var x = document.getElementById('tableDeploy').insertRow(1); //获取第一行对象
            for (var i = 0; i < arr.length; i++) {
                x.insertCell(i).innerHTML = arr[i]; //用循环把每个数据插入第一行的每一列
            }
        }

    }


</script>
<!--<script src="../js/chat.js"/>-->
<!--<script src="../js/table.js"/>-->


</body>
</html>