<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
</head>

<body>

<header>用户登录</header>
<form th:action="@{/user/login}" method="post">
    <p>账号：</p>
    <input type="text" name="userName" placeholder="请输入账号..."/>
    <p>角色：</p>
    <select name="role">
        <option value="">请选择你的角色</option>
        <option value="指挥中心">指挥中心</option>
        <option value="公安">公安</option>
        <option value="交警">交警</option>
        <option value="城管">城管</option>
        <option value="公交地铁">公交地铁</option>
        <option value="主办单位">主办单位</option>
        <option value="志愿者">志愿者</option>
        <option value="市民">市民</option>
    </select>
    <p>倍速：</p>
    <select name="num" id="numSpeed">
        <option value="">请选择系统倍速</option>
        <option value="1">正常倍速</option>
        <option value="5">5倍速</option>
        <option value="10">10倍速</option>
    </select>
    <p>选择系统：</p>
    <div class="system"></div>
    <p>密码：</p>
    <input type="password" name="password" placeholder="请输入密码...">
    <button type="submit" value="注册">登陆</button>
</form>
<a th:href="@{/user/register}">还没有账号？立即注册</a>
<script>
    $.ajax({
        url: "http://localhost:8015/system/list", //要请求的后端地址
        type: "GET", //数据发送的方式(POST或者GET)
        // data: {val1: "1", val2: "2"}, //需要传递的参数
        dataType: "json", //后端返回的数据格式
        success: function (data) {//ajax请求成功后触发的方法
            console.log(data); //result为响应内容
            $('.system').empty();
            let slot="";
            for (let i = 0; i < data.length; i++) {

                console.log(data[i].systemName)
                slot += '   <div class="system-box">\n' +
                    '            <input type="radio" name="system" value=' + data[i].systemName +
                    ' title= ' + data[i].systemName +
                    '>\n' +data[i].systemName +
                    '       </div>'
            }
            slot += '   <div class="system-box">\n' +
                '            <input type="radio" name="system" value="0" title="创建一个新的系统" checked="">\n' +'创建一个新的系统'+
                '       </div>'
            console.log(slot);
            document.querySelector(".system").innerHTML=slot
        },
        error: function () {//ajax请求失败后触发的方法
            console.log('Send Request Fail..');
        }
    });

</script>
</body>
</html>